/task2/**/bin/
/task2/**/.vs/
/task2/**/Migrations/
/task2/**/Properties/
/task2/**/obj/
/task3/secureLogin2/.vs
/task3/secureLogin2/secureLogin2/bin
/task3/secureLogin2/secureLogin2/obj
/task3/secureLogin2/secureLogin2/Properties

